<div id="body">
    <app-menu id="menu"></app-menu>

    <div id="content">
        <div id="contentChild">
            <p>Calculadora</p>
            <form class="form" [formGroup]="convertData">
                <div class="campo">
                    <label class="form-child-label">Base:</label>
                    <select id="targetCurrency" formControlName="base">
                        <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
                    </select>
                </div>
            
                <div class="campo">
                    <label class="form-child-label">To:</label>
                    <select id="targetCurrency" formControlName="to">
                        <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
                    </select>
                </div>
            
                <div class="campo">
                    <label class="form-child-label">Amount:</label>
                    <input class="form-child" type="text" formControlName="amount">
                </div>
                
                <button class="form-child" (click)="calculate()">Calcular</button>
            </form>
            <div id="message">
                <p>{{message}}</p>
            </div>
        </div>
    </div>
</div>