<div id="container">
    <button class="normal" routerLink="/welcome">Inicio</button>
    <hr>
    <button class="normal" routerLink="/generalCurrencys">Divisas generales</button>
    <hr>
    <button class="normal" routerLink="/calculator">Calculadora</button>
    <hr>
    <button class="normal" routerLink="/myCurrencys">Mi divisa</button>
    <hr>
    <button class="sesion" (click)="endSesion()">Cerrar sesión</button>
    <hr>
    <button class="sesion" (click)="deleteAccount()">Eliminar cuenta</button>
</div>