<div id="body">
    <app-menu id="menu"></app-menu>

    <div id="content">
        <div id="contentChild">
            <p>Divisas en general</p>
            <div id="cards">
                <div *ngFor="let currency of currencies" id="card">
                    <apx-chart *ngIf="chartOptions[currency]" [series]="chartOptions[currency].series" [chart]="chartOptions[currency].chart" [xaxis]="chartOptions[currency].xaxis" [title]="chartOptions[currency].title">
                    </apx-chart>
                </div>
            </div>
        </div>
    </div>
</div>